{
	"calories": [
		{
			"id": 1,
			"name": "Chicken breast",
			"calories": 165,
			"timestamp": "2026-02-02T12:30:00.000Z"
		},
		{
			"id": 2,
			"name": "Apple",
			"calories": 95,
			"timestamp": "2026-02-02T15:00:00.000Z"
		}
	],
	"weights": [
		{
			"id": 1,
			"weight": 75.5,
			"timestamp": "2026-02-01T10:00:00.000Z"
		},
		{
			"id": 2,
			"weight": 75.3,
			"timestamp": "2026-02-02T10:00:00.000Z"
		}
	],
	"maxCalories": [
		{
			"maxCalories": 2400,
			"timestamp": "2026-01-19T17:00:00.000Z"
		}
	]
}
